MQTT_HOST=sci-iot.ddns.net
MQTT_PORT=1883
MQTT_TOPIC=durian_farm1/node_sensor
MQTT_QOS=1

DB_PATH=./data/durian_dashboard.db
RETAIN_DAYS=90

APP_HOST=0.0.0.0
APP_PORT=8080
REFRESH_SECONDS=3

TMD_BASE_URL=https://data.tmd.go.th/nwpapi/v1
TMD_ACCESS_TOKEN=
TMD_PROVINCE=
TMD_AMPHOE=
TMD_TAMBON=
TMD_FORECAST_DAYS=7

LINE_CHANNEL_ACCESS_TOKEN=
LINE_USER_ID=
LINE_ALERT_ENABLED=false
LINE_ALERT_INTERVAL_SECONDS=600
LINE_ALERT_COOLDOWN_MINUTES=180
